.vscode
LaTeX-template/HPC-Exercise3.aux
LaTeX-template/HPC-Exercise3.fdb_latexmk
LaTeX-template/HPC-Exercise3.fls
LaTeX-template/HPC-Exercise3.log
LaTeX-template/HPC-Exercise3.out
LaTeX-template/HPC-Exercise3.synctex.gz