.vscode
Exercise 3/HPC-Exercise3/LaTeX/HPC-Exercise3.aux
Exercise 3/HPC-Exercise3/LaTeX/HPC-Exercise3.fdb_latexmk
Exercise 3/HPC-Exercise3/LaTeX/HPC-Exercise3.fls
Exercise 3/HPC-Exercise3/LaTeX/HPC-Exercise3.log
Exercise 3/HPC-Exercise3/LaTeX/HPC-Exercise3.out
Exercise 3/HPC-Exercise3/LaTeX/HPC-Exercise3.synctex.gz