.vscode
LaTeX-template/HPC-template.aux
LaTeX-template/HPC-template.fdb_latexmk
LaTeX-template/HPC-template.fls
LaTeX-template/HPC-template.log
LaTeX-template/HPC-template.out
LaTeX-template/HPC-template.synctex.gz